{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block static %}{% endblock static %}

{% block content %}
<div class="container py-5" id="login">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p}}
      {{ login_form.as_p}}
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account? <a href=" {% url 'main:register' %} ">Create an account</a>.</p>
</div>
{% endblock content %}