{% extends 'base.html' %}
{% block content %}
<div class="index_box">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta odio voluptatem repellat atque pariatur dolorem quo, iure quis nesciunt voluptatum consequatur vero asperiores. Sapiente illo odit officiis illum unde excepturi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit maxime cum nesciunt magnam tenetur facilis ex cupiditate eligendi, alias dignissimos dolorem quos, unde voluptates labore similique modi vero? Rerum, sed.</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta architecto similique obcaecati accusamus molestias earum voluptate, assumenda aliquid. Animi eius delectus iste, necessitatibus eum sed ipsa blanditiis veniam! Commodi, sunt.
</div>


{% endblock content %}

